@use 'backend' as *;

/* NOTICE */
#{c(notice base)} {
  border-radius: 4px;
}

// CUSTOM COLOURS
#{c(notice colorBrand)} {
  --custom-notice-background: hsl(from var(--hsl-main-color) h s l/.8);
}
#{c(notice colorDanger)} {
  --custom-notice-background: hsl(from var(--hsl-danger-color) h s l/.8);
}
#{c(notice colorStreamerMode)} {
  --custom-notice-background: hsl(from var(--hsl-streaming-color) h s l/.8);
}
