@use 'backend' as *;

// TIMEOUT
#{c(modals timeout selectorButton)} {
  background: cv('shading.cardInner');
}
:is(#{c(main themeLight)}, #{c(main themeDark)}) {
  #{c(modals timeout item)} {
    border-color: cv('color.main');
  }
}
#{c(modals timeout selectorButtonSelected)}{
  background: cv('color.main');
}
// BAN
#{c(modals ban radioItem)} {
  background: transparent;
}
#{c(modals ban otherReasonClickable)}{
  background: cv('shading.cardInner');
}