@use 'backend' as *;

#{c(thread resizeHandle)} {
  background: transparent;
}
#{c(thread container)} {
  background: transparent;
  border: none;
  border-bottom-left-radius: 0;
  &#{c(thread floating)} {
    background: cv('shading.popout') ;
  }
}

// NEW THREAD
#{c(thread newThreadContainer)} {
  background: hsl(from cv('shading.bg') h s l/calc(cv('shading.percent') * 0.5));
}

// ICON
#{c(thread iconWrapper)} {
  background: cv('color.main');
}
#{c(thread icon)} path {
  fill: var(--header-primary);
}

// NOTICE
#{c(thread header)} {
  background-color: cv('shading.popout');
}

// ACTIVE THREADS
#{c(thread activethreadsContainer)},
#{c(thread activethreadsHeader)} {
  background: transparent;
}